
<% statusFilterHelper=(statusFilter)=>{ 
    let xhtmlResult='';
    let link=`/${prefixAdmin}/item`
    statusFilter.forEach((st,index)=>{
        xhtmlResult+=`
        <a class="btn m-b-sm btn-${st.class} btn-sm" href=${link}/${st.value}>
            ${ st.name }(${st.count })
        </a>
        `
    }) 
    return xhtmlResult;
} %>


