
<% statusHelper=(status,id,type)=>{ 
      let xhtml='';
      let link = "/" + prefixAdmin + "/"+type+"/change-status/"+status.toLowerCase()+"/"+id;
      if(status==='ACTIVE') { 
         xhtml=`<span class="label label-success">active</span>`
      }else{
         xhtml=`<span class="label label-warning">inactive</span>`
       } 
       return `<a href="${link}">${xhtml}</a>`
} %>



